<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the login page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link defer rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-purple.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Break My Food</title>
    
</head>

<body>
    <div>
    <!-- Simple header with fixed tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                {% if not request.user.is_anonymous %}
                    <span class="mdl-layout-title">Hi {{request.user.last_name}}, {{request.user.first_name}}</span>
                {% else %}
                    <span class="mdl-layout-title">Break my food</span>
                {% endif %}
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                          <label class="mdl-button mdl-js-button mdl-button--icon" for="search_prod">
                            <i class="material-icons">search</i>
                          </label>
                          <div  class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="search_prod">
                            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                          </div>
                        </div>
                {% if not request.user.is_anonymous %}
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="{% url 'logout' %}">
                        <i class="material-icons">directions_run</i>
                        Logout
                    </a>
                </nav>
                {% else %}
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="{% url 'social:begin' 'google-oauth2' %}">
                            <!-- <i class="material-icons">directions_run</i> -->
                        <img style="cursor: pointer;" src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Google sign-in button with blue background" class="attempt-right">
                            
                        </a>
                    </nav>
                {% endif %}
            </div>
          
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#fixed-tab-1" class="mdl-layout__tab is-active">My Food</a>
                {% if not request.user.is_anonymous %}
                    <a href="#fixed-tab-2" class="mdl-layout__tab">Add new food</a>
                {% endif %}
                </div>
        </header>
        <main class="mdl-layout__content mdl-color--grey-100">
                <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                        <div class="page-content">
                            <!-- Your content goes here -->
                            <form action="/add_data" method=POST>
                                {%csrf_token%}
                                {% include 'viewdata.html' %}
                                {% if not request.user.is_anonymous and food is not None%}
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--4-col"></div>
                                    
                                        <div class="mdl-cell mdl-cell--4-col">
                                                <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Edit Data">
                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                                <input type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Clear Data">
                                        </div>
                                </div>
                                {% endif %}
                            </form>
                            
                           
                        </div>
                    </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                <div class="page-content">
                    <form action="/add_data" method="POST">
                            {% csrf_token %}
                          {% include 'foodtablerender.html' with foodform=foodform %}
                          <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--4-col"></div>
                            
                                <div class="mdl-cell mdl-cell--4-col">
                                        <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Add Data">
                                </div>
                                <div class="mdl-cell mdl-cell--4-col">
                                        <input type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Clear Data">
                                </div>
                            </div>
                    </form>
                       
                </div>
            </section>
           
        </main>
    </div>
    </div> <!-- For bgimg-->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
            $(function(){
                $("#search_prod").on("keypress", function(event){
                    if(event.which === 13){
                        window.location.href = window.location.origin +"/"+event.currentTarget.value;
                    }
                 });
            });
        </script>
</body>

</html>